:root {
  --pl-blue: rgb(59 130 245 / 10%);

  /* --pl-blue: #b7e1dc; */
  --pl-pink: rgb(254 236 220);

  /* --pl-pink: rgb(255 215 166); */
  --pl-yellow: rgb(252 233 106 / 25%);
  --pl-cart-shop: rgb(255 255 255);
  --pl-gray-light: rgb(237 238 241);
  --pl-gray-dark: rgb(180 184 194);
  --pl-orange: #ff5a1f;
  --pl-text: #0e3060;
  --border-radius: 0.25rem;
}

.btn {
  border-radius: var(--border-radius);
}

html * {
  margin: 0;
  padding: 0;
  color: var(--pl-text);
  outline: none;
}

.main-text-color {
  color: var(--pl-text);
  text-decoration: none;
}

.text-orange {
  color: var(--pl-orange);
  text-decoration: none;
}

.bg-cart-shop {
  background-color: var(--pl-cart-shop);
}

.bg-cart-shop:hover {
  background-color: var(--pl-yellow);
}

div,
section {
  display: block;
}

section {
  padding-top: 22px;
}

.card {
  /* padding: 14px 80px 18px 36px;
  background: #fff;
  border-radius: 4px; */
  height: 250px;

  /* box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%); */
  max-height: 250px;
  cursor: pointer;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  max-height: 250px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
  transform: scale(1.05);
}

.card-img: {
  width: 0%;
  background-color: red;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.hand {
  cursor: pointer;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.hand:hover {
  transform: scale(1.1);
}

.palitra-font {
  font-family: Neucha, cursive;
}

.palitra {
  position: relative;
  padding-top: 22px;
}

.palitra .sky-color {
  position: absolute;
  top: 20px;
  width: 47%;
  height: 740px;
  background-color: var(--pl-pink);
  border-radius: 0 400px 400px 0;
}

.palitra .img-palitra {
  position: relative;
  width: 315px;
  height: auto;
}

@media screen and (max-width: 991px) {
  .palitra .img-palitra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 11px;
    text-align: center;
  }
}

.palitra .margin {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.bg-blue-color {
  background-color: var(--pl-blue);
}

.bg-pink-color {
  background-color: var(--pl-pink);
}

.palitra .h2 {
  margin-top: 41px;
  color: var(--pl-text);
  white-space: pre-wrap;
  text-align: center;
}

.palitra .logo-desc a {
  margin-top: 58px;
  padding: 25px 45px;
  color: var(--pl-text);
  font-weight: 600;
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background: var(--pl-blue);
  border-radius: 100px;
}

@media screen and (max-width: 991px) {
  .palitra .logo-desc a {
    display: none;
  }
}

.palitra-logo {
  max-width: 500px;
}

.block-palitra .w-100 {
  width: 100% !important;
}

@media screen and (max-width: 991px) {
  .palitra .margin .block-palitra {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .palitra .sky-color {
    display: block;
    width: 76%;
    height: 83%;
  }
}

@media screen and (max-width: 740px) {
  .palitra .sky-color {
    height: 80%;
  }
}

@media screen and (max-width: 991px) {
  .palitra .img-palitra .img-palitra-mob {
    position: relative;
    width: 50%;
  }
}

.logo-desc {
  width: 50%;
}

.palitra .logo-desc {
  margin-top: 67px;
}

@media screen and (max-width: 1200px) {
  .palitra .logo-desc {
    margin-top: 123px;
  }
}

@media screen and (max-width: 991px) {
  .palitra .logo-desc {
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 740px) {
  .palitra .logo-desc {
    width: 100%;
    margin-top: 0;
  }
}

.slider-thumb::before {
  position: absolute;
  right: -58px;
  bottom: -142px;
  z-index: -1;
  display: block;
  width: 785px;
  height: 785px;
  background: var(--pl-pink);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  animation: sliderShape 5s linear infinite;
  animation: sliderShape 5s linear infinite;
  will-change: border-radius, transform, opacity;
  content: "";
}

@keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

.dtr-social-list {
  margin: 0;
}

.dtr-social-list li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

.dtr-social-list a {
  position: relative;
  z-index: 9;
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  border: 0;
  border-radius: 0;
}

.btn-info {
  color: #fff;
  background-color: var(--pl-orange);
  border-color: var(--pl-orange);
}
