:root {
  --pl-blue: rgb(59 130 245 / 10%);
  --pl-white: #fff;

  /* --pl-pink: #f5c194; */

  --pl-pink: #feecdc;
  --pl-yellow: rgb(252 233 106 / 25%);
  --pl-cart-shop: rgb(255 255 255);
  --pl-gray-light: rgb(237 238 241);
  --pl-gray-dark: rgb(180 184 194);
  --pl-orange: #ff5a1f;
  --pl-text: #0e3060;
  --pl-text-nav: rgb(14 48 96 / 60%);
  --pl-gray-text: #727272;
  --border-radius: 0.25rem;
}

.btn {
  border-radius: var(--border-radius);
}

html * {
  margin: 0;
  padding: 0;
  color: var(--pl-text);
  outline: none;
}

div,
section {
  display: block;
}

section {
  padding-top: 22px;
}

img {
  max-width: 100%;
}

.nav-link {
  color: var(--pl-text);
}

.nav-link:hover {
  color: var(--pl-text-nav);
}

.img-shadow {
  filter: drop-shadow(0.3rem 0.3rem 0.32rem rgb(0 0 0 / 40%));
}

.img-shadow-lg {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgb(0 0 0 / 50%));
}

.main-text-color {
  color: var(--pl-text);
  text-decoration: none;
}

.accordion-button {
  color: var(--pl-text);
  text-decoration: none;
}

.text-gray {
  color: var(--pl-gray-text);
  text-decoration: none;
}

.text-orange {
  color: var(--pl-orange);
  text-decoration: none;
}

.bg-cart-shop {
  background-color: var(--pl-cart-shop);
}

.bg-cart-shop:hover {
  background-color: var(--pl-yellow);
}

.card {
  cursor: pointer;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card-shop {
  height: 250px;
  max-height: 250px;
}

.card:hover {
  /* max-height: 250px; */
  box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
  transform: scale(1.05);
}

.card-img: {
  width: 0%;
  background-color: red;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.hand {
  cursor: pointer;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.hand:hover {
  transform: scale(1.1);
}

.palitra-font {
  font-family: Neucha, cursive;
}

.palitra {
  position: relative;
  padding-top: 22px;
}

.palitra .sky-color {
  position: absolute;
  top: 20px;
  width: 47%;
  height: 740px;
  background-color: var(--pl-pink);
  border-radius: 0 400px 400px 0;
}

.palitra .img-palitra {
  position: relative;
  width: 315px;
  height: auto;
}

@media screen and (max-width: 991px) {
  .palitra .img-palitra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 11px;
    text-align: center;
  }
}

.palitra .margin {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.bg-blue-color {
  background-color: var(--pl-blue);
}

.bg-pink-color {
  background-color: var(--pl-pink);
}

.palitra .h2 {
  margin-top: 41px;
  color: var(--pl-text);
  white-space: pre-wrap;
  text-align: center;
}

/* .palitra .logo-desc a {
  margin-top: 58px;
  padding: 25px 45px;
  color: var(--pl-text);
  font-weight: 600;
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background: var(--pl-blue);
  border-radius: 100px;
} */

@media screen and (max-width: 991px) {
  .palitra .logo-desc a {
    display: none;
  }
}

.palitra-logo {
  max-width: 500px;
}

.block-palitra .w-100 {
  width: 100% !important;
}

@media screen and (max-width: 991px) {
  .palitra .margin .block-palitra {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .palitra .sky-color {
    display: block;
    width: 76%;
    height: 83%;
  }
}

@media screen and (max-width: 740px) {
  .palitra .sky-color {
    height: 80%;
  }
}

@media screen and (max-width: 991px) {
  .palitra .img-palitra .img-palitra-mob {
    position: relative;
    width: 50%;
  }
}

.logo-desc {
  width: 50%;
}

.palitra .logo-desc {
  margin-top: 67px;
}

@media screen and (max-width: 1200px) {
  .palitra .logo-desc {
    margin-top: 123px;
  }
}

@media screen and (max-width: 991px) {
  .palitra .logo-desc {
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 740px) {
  .palitra .logo-desc {
    width: 100%;
    margin-top: 0;
  }
}

/*
.slider-thumb::before {
  position: absolute;
  right: 28px;
  bottom: -142px;
  z-index: -1;
  display: block;
  width: 785px;
  height: 785px;
  background: var(--pl-pink);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  animation: slider-shape 5s linear infinite;
  will-change: border-radius, transform, opacity;
  content: "";
} */

/* @keyframes slider-shape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
} */

.dtr-social-list {
  margin: 0;
}

.dtr-social-list li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

.btn-info {
  color: var(--pl-white);
  background-color: var(--pl-text);
  border: 1px solid var(--pl-text);
  border-color: var(--pl-text);
}

.btn:first-child:hover,
.btn:first-child:focus,
:not(.btn-check) + .btn:hover {
  color: var(--pl-text);
  background-color: var(--pl-pink);
  border-color: var(--pl-text);
}

.btn-info:disabled {
  color: var(--pl-gray-text);
  background-color: #fff;
  border: 1px solid var(--pl-gray-text);
  border-color: var(--pl-gray-text);
}

.pulse-logo {
  box-shadow: 0 0 0 0 rgba(#5a99d4, 0.5);
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

.portfolio-item img {
  width: 80%;
}

.portfolio-item {
  position: relative;
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
  transform: translateY(0);
  transform: translateY(0);
  transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.portfolio-item::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #ff3d4f;
  opacity: 0;
  transition: 0.3s;
  content: "";
}

.portfolio-item:hover::before {
  opacity: 1;
}

.portfolio-text span {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.portfolio-text h2 {
  margin-top: 14px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 700;
}

.portfolio-text h2 a:hover {
  color: #222;
}

/* 9.education  */
.pt-120 {
  padding-top: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mb-50 {
  margin-bottom: 20px;
}

.mt-80 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  #products {
    margin-top: 200px;
  }
}

.education-header h4 {
  margin-bottom: 20px;
  color: #ff3d4f;
  font-weight: 400;
  font-size: 14px;
  font-family: Rubik, sans-serif;
}

.education-header h1 {
  margin-bottom: 22px;
  font-size: 26px;
}

.education-qualification-body {
  position: relative;
  padding-left: 30px;
}

.education-qualification-body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #ffe6e4;
  content: "";
}

.education-content {
  position: relative;
}

.education-content::before {
  position: absolute;
  left: -34px;
  width: 13px;
  height: 13px;
  background-color: rgb(255 61 79);
  border-width: 4px;
  border-style: solid;
  border-color: rgb(255 255 255);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(255 61 79 / 30%);
  content: "";
}

.education-images {
  position: relative;
  margin-left: 25px;
}

.education-img2 {
  position: absolute;
  top: 195px;
  left: 125px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.9);
  }
}

/* .carousel-indicators {
  filter: invert(50%);
} */

.carousel-indicators > [data-bs-target] {
  background-color: var(--pl-text);
}

.carousel-indicators .active {
  background-color: var(--pl-text);
}
